{{#if user}}
<div class="container img_default">
    <img src="/img/maintenance1.png" alt="icono de mantenimiento">
</div>
{{else}}
<main class="index">
    <header class="masthead">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Mantenimiento</h1>
            <h3 class="mb-4">
                <em>La mejor plataforma para la gestión de mantenimientos!</em>
            </h3>
            <a class="btn iniciar" href="/signin">Iniciar sesión</a>
        </div>
    </header>
</main>
{{/if}}